/* =====================================
   TEST KHUNG
   Test tỷ lệ câu hỏi / đáp án / khoảng cách / loa
===================================== */

.game-frame-test {
    /* Tỷ lệ câu hỏi và đáp án */
    --question-ratio: 75fr;
    --answer-ratio: 25fr;

    /* Khoảng cách giữa câu hỏi và đáp án */
    --game-body-gap: 0px;

    /* Khoảng trống phía trên khu đáp án để đặt nút loa */
    --answer-top-padding: 20px;


}